### `Load all required Libraries`

In [42]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 500,'display.max_columns', 500,'display.width', 1000)

In [271]:
#Get the data
lend  = pd.read_csv("loan.csv",encoding="UTF-8")
lend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

##  <span style='background :cyan' > Findings:- </span>
- `We have 39717 rows.`
- `111 columns.`

In [272]:
print(lend.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'], dtype='object', length=111)

In [273]:
lend.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [274]:
#check missing value percentages 
#round the percentages to 2 decimal points.
missing_columns = round((lend.isna().sum()/len(lend))*100,2)
print(missing_columns.sort_values(ascending=False))

total_il_high_credit_limit        100.00
mo_sin_old_rev_tl_op              100.00
bc_util                           100.00
bc_open_to_buy                    100.00
avg_cur_bal                       100.00
acc_open_past_24mths              100.00
inq_last_12m                      100.00
total_cu_tl                       100.00
inq_fi                            100.00
total_rev_hi_lim                  100.00
all_util                          100.00
max_bal_bc                        100.00
open_rv_24m                       100.00
open_rv_12m                       100.00
il_util                           100.00
total_bal_il                      100.00
mths_since_rcnt_il                100.00
open_il_24m                       100.00
open_il_12m                       100.00
open_il_6m                        100.00
open_acc_6m                       100.00
tot_cur_bal                       100.00
tot_coll_amt                      100.00
total_bc_limit                    100.00
dti_joint                         100.00
annual_inc_joint                  100.00
mths_since_last_major_derog       100.00
mo_sin_old_il_acct                100.00
verification_status_joint         100.00
mo_sin_rcnt_rev_tl_op             100.00
num_il_tl                         100.00
mo_sin_rcnt_tl                    100.00
total_bal_ex_mort                 100.00
tot_hi_cred_lim                   100.00
percent_bc_gt_75                  100.00
pct_tl_nvr_dlq                    100.00
num_tl_90g_dpd_24m                100.00
num_tl_30dpd                      100.00
num_tl_120dpd_2m                  100.00
num_sats                          100.00
num_rev_tl_bal_gt_0               100.00
num_rev_accts                     100.00
num_op_rev_tl                     100.00
num_tl_op_past_12m                100.00
num_bc_tl                         100.00
mort_acc                          100.00
num_actv_rev_tl                   100.00
num_actv_bc_tl                    100.00
num_accts_ever_120_pd             100.00
mths_since_recent_revol_delinq    100.00
mths_since_recent_inq             100.00
mths_since_recent_bc_dlq          100.00
mths_since_recent_bc              100.00
num_bc_sats                       100.00
next_pymnt_d                       97.13
mths_since_last_record             92.99
mths_since_last_delinq             64.66
desc                               32.58
emp_title                           6.19
emp_length                          2.71
pub_rec_bankruptcies                1.75
last_pymnt_d                        0.18
chargeoff_within_12_mths            0.14
collections_12_mths_ex_med          0.14
revol_util                          0.13
tax_liens                           0.10
title                               0.03
last_credit_pull_d                  0.01
url                                 0.00
pymnt_plan                          0.00
loan_status                         0.00
verification_status                 0.00
purpose                             0.00
issue_d                             0.00
funded_amnt                         0.00
annual_inc                          0.00
home_ownership                      0.00
sub_grade                           0.00
grade                               0.00
installment                         0.00
int_rate                            0.00
term                                0.00
funded_amnt_inv                     0.00
addr_state                          0.00
loan_amnt                           0.00
member_id                           0.00
zip_code                            0.00
total_rec_prncp                     0.00
dti                                 0.00
total_pymnt_inv                     0.00
delinq_amnt                         0.00
acc_now_delinq                      0.00
application_type                    0.00
policy_code                         0.00
last_pymnt_amnt                     0.00
collection_recovery_fee             0.00
recoveries                          0.00
total_rec_late_fee                  0.00
total_rec_int                       0.00
total_pymnt                         0.00
delinq_2yrs                         0.00
out_prncp_inv                       0.00
out_prncp                           0.00
initial_list_status                 0.00
total_acc                           0.00
revol_bal                           0.00
pub_rec                             0.00
open_acc                            0.00
inq_last_6mths                      0.00
earliest_cr_line                    0.00
id                                  0.00
dtype: float64

##  <span style='background :cyan' > Findings:- </span>
- ` Many columns have 100% null values.`
- ` We will drop columns having more than 50% null values.`

In [275]:
#Create a List more than 50% null values columns
drop_coulmns = list(missing_columns[missing_columns>50].index)
#check columns having more than 50% null values
print(f"No of columns having more than 50% missing values:{len(drop_columns)}")
print("-----------------------------")
print(missing_columns[missing_columns>50].sort_values(ascending=False))

No of columns having more than 50% missing values:57
-----------------------------
total_il_high_credit_limit        100.00
il_util                           100.00
bc_open_to_buy                    100.00
avg_cur_bal                       100.00
acc_open_past_24mths              100.00
inq_last_12m                      100.00
total_cu_tl                       100.00
inq_fi                            100.00
total_rev_hi_lim                  100.00
all_util                          100.00
max_bal_bc                        100.00
open_rv_24m                       100.00
open_rv_12m                       100.00
total_bal_il                      100.00
total_bc_limit                    100.00
mths_since_rcnt_il                100.00
open_il_24m                       100.00
open_il_12m                       100.00
open_il_6m                        100.00
open_acc_6m                       100.00
tot_cur_bal                       100.00
tot_coll_amt                      100.00
verification_status_joint         100.00
dti_joint                         100.00
annual_inc_joint                  100.00
mths_since_last_major_derog       100.00
bc_util                           100.00
mo_sin_old_il_acct                100.00
mo_sin_old_rev_tl_op              100.00
mo_sin_rcnt_rev_tl_op             100.00
total_bal_ex_mort                 100.00
tot_hi_cred_lim                   100.00
percent_bc_gt_75                  100.00
pct_tl_nvr_dlq                    100.00
num_tl_op_past_12m                100.00
num_tl_90g_dpd_24m                100.00
num_tl_30dpd                      100.00
num_tl_120dpd_2m                  100.00
num_sats                          100.00
num_rev_tl_bal_gt_0               100.00
num_rev_accts                     100.00
num_op_rev_tl                     100.00
num_il_tl                         100.00
num_bc_tl                         100.00
num_bc_sats                       100.00
num_actv_rev_tl                   100.00
num_actv_bc_tl                    100.00
num_accts_ever_120_pd             100.00
mths_since_recent_revol_delinq    100.00
mths_since_recent_inq             100.00
mths_since_recent_bc_dlq          100.00
mths_since_recent_bc              100.00
mort_acc                          100.00
mo_sin_rcnt_tl                    100.00
next_pymnt_d                       97.13
mths_since_last_record             92.99
mths_since_last_delinq             64.66
dtype: float64

In [276]:
#Drop 50% missing values columns 
lend.drop(drop_coulmns,axis=1,inplace=True)

In [277]:
lend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  open_acc                    39717 non-null  int64
 29  pub_rec                     39717 non-null  int64
 30  revol_bal                   39717 non-null  int64
 31  revol_util                  39667 non-null  object
 32  total_acc                   39717 non-null  int64
 33  initial_list_status         39717 non-null  object
 34  out_prncp                   39717 non-null  float64
 35  out_prncp_inv               39717 non-null  float64
 36  total_pymnt                 39717 non-null  float64
 37  total_pymnt_inv             39717 non-null  float64
 38  total_rec_prncp             39717 non-null  float64
 39  total_rec_int               39717 non-null  float64
 40  total_rec_late_fee          39717 non-null  float64
 41  recoveries                  39717 non-null  float64
 42  collection_recovery_fee     39717 non-null  float64
 43  last_pymnt_d                39646 non-null  object
 44  last_pymnt_amnt             39717 non-null  float64
 45  last_credit_pull_d          39715 non-null  object
 46  collections_12_mths_ex_med  39661 non-null  float64
 47  policy_code                 39717 non-null  int64
 48  application_type            39717 non-null  object
 49  acc_now_delinq              39717 non-null  int64
 50  chargeoff_within_12_mths    39661 non-null  float64
 51  delinq_amnt                 39717 non-null  int64
 52  pub_rec_bankruptcies        39020 non-null  float64
 53  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(23)
memory usage: 16.4+ MB

##  <span style='background :cyan' > Findings:- </span>
-`We have dropped 57 columns out of 111 coumns`.

In [278]:
missing_columns = lend.isna().sum()

In [279]:
# Check all the columns having atleast 1 missing values
print(missing_columns[missing_columns>0].index)

Index(['emp_title', 'emp_length', 'desc', 'title', 'revol_util', 'last_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'pub_rec_bankruptcies', 'tax_liens'], dtype='object')

In [280]:
# All columns having atleast ONE missing value. Collect those columns
columns_miss = missing_columns[missing_columns>0].index

In [281]:
lend[columns_miss].head(20)

                              emp_title emp_length                                               desc                                  title revol_util last_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  chargeoff_within_12_mths  pub_rec_bankruptcies  tax_liens
0                                   NaN  10+ years    Borrower added on 12/22/11 > I need to upgra...                               Computer     83.70%       Jan-15             May-16                         0.0                       0.0                   0.0        0.0
1                                 Ryder   < 1 year    Borrower added on 12/22/11 > I plan to use t...                                   bike      9.40%       Apr-13             Sep-13                         0.0                       0.0                   0.0        0.0
2                                   NaN  10+ years                                                NaN                   real estate business     98.50%       Jun-14             May-16                         0.0                       0.0                   0.0        0.0
3                   AIR RESOURCES BOARD  10+ years    Borrower added on 12/21/11 > to pay for prop...                               personel        21%       Jan-15             Apr-16                         0.0                       0.0                   0.0        0.0
4              University Medical Group     1 year    Borrower added on 12/21/11 > I plan on combi...                               Personal     53.90%       May-16             May-16                         0.0                       0.0                   0.0        0.0
5                  Veolia Transportaton    3 years                                                NaN  My wedding loan I promise to pay back     28.30%       Jan-15             Jan-16                         0.0                       0.0                   0.0        0.0
6             Southern Star Photography    8 years    Borrower added on 12/18/11 > I am planning o...                                   Loan     85.60%       May-16             May-16                         0.0                       0.0                   0.0        0.0
7                       MKC Accounting     9 years    Borrower added on 12/16/11 > Downpayment for...                        Car Downpayment     87.50%       Jan-15             Dec-14                         0.0                       0.0                   0.0        0.0
8                                   NaN    4 years    Borrower added on 12/21/11 > I own a small h...   Expand Business & Buy Debt Portfolio     32.60%       Apr-12             Aug-12                         0.0                       0.0                   0.0        0.0
9                             Starbucks   < 1 year    Borrower added on 12/16/11 > I'm trying to b...            Building my credit history.     36.50%       Nov-12             Mar-13                         0.0                       0.0                   0.0        0.0
10                Southwest Rural metro    5 years    Borrower added on 12/15/11 > I had recived a...             High intrest Consolidation     20.60%       Jun-13             Dec-15                         0.0                       0.0                   0.0        0.0
11                                 UCLA  10+ years                                                NaN                          Consolidation     67.10%       Sep-13             Aug-13                         0.0                       0.0                   0.0        0.0
12  Va. Dept of Conservation/Recreation   < 1 year    Borrower added on 12/15/11 > Plan to pay off...                                freedom     91.70%       Jul-12             Nov-12                         0.0                       0.0                   0.0        0.0
13                               Target    3 years    Borrower added on 12/19/11 > I intend to pay...                          citicard fund     43.10%       Jan-15             May-16                         0.0                       0.0                   0.0        0.0
14                                SFMTA    3 years                                                NaN                             Other Loan     55.50%       Oct-13             Mar-14                         0.0                       0.0                   0.0        0.0
15             Internal revenue Service   < 1 year                                                NaN                Debt Consolidation Loan     81.50%       Jan-15             May-16                         0.0                       0.0                   0.0        0.0
16                    Chin's Restaurant    4 years                                                NaN                                   Home     70.20%       Jan-15             Apr-15                         0.0                       0.0                   0.0        0.0
17                             Duracell  10+ years    Borrower added on 12/15/11 > Payoff other le...                                Holiday        16%       May-13             May-14                         0.0                       0.0                   0.0        0.0
18                Connection Inspection     1 year    Borrower added on 12/16/11 > This is a loan ...                                Medical     37.73%       Feb-15             Jul-15                         0.0                       0.0                   0.0        0.0
19         Network Interpreting Service    6 years                                                NaN    lowerratemeanseasiertogetoutofdebt!     23.10%       Jul-12             Feb-16                         0.0                       0.0                   0.0        0.0

##  <span style='background :cyan' > Findings:- </span>

- `Below columns have ATLEAST ONE missing values`.
- `Inspect each column indivisually`.

    - emp_title 
    - emp_length  
    - desc
    - title
    - revol_util
    - last_pymnt_d 
    - last_credit_pull_d
    - collections_12_mths_ex_med
    - chargeoff_within_12_mths 
    - pub_rec_bankruptcies
    - tax_liens

<b> `"emp_title" column` <b>

In [282]:
# Inspect "emp_title" columns 
lend["emp_title"].isna().sum()
print("No of missing value in emp_title:",lend["emp_title"].isna().sum())
print("------------------------------")
print(lend["emp_title"].head(10))
print("------------------------------")
print(lend["emp_title"].tail(10))
print("---------------------------")

No of missing value in emp_title: 2459
------------------------------
0                          NaN
1                        Ryder
2                          NaN
3          AIR RESOURCES BOARD
4     University Medical Group
5         Veolia Transportaton
6    Southern Star Photography
7              MKC Accounting
8                          NaN
9                    Starbucks
Name: emp_title, dtype: object
------------------------------
39707            Stark and Roth Inc
39708               Millenium Group
39709                Self-Employeed
39710             Rush Univ Med Grp
39711           A. F. Wolfers, Inc.
39712               FiSite Research
39713    Squarewave Solutions, Ltd.
39714                           NaN
39715                           NaN
39716              Evergreen Center
Name: emp_title, dtype: object
---------------------------

In [283]:
lend["emp_title"].unique()

array([nan, 'Ryder', 'AIR RESOURCES BOARD', ..., 'FiSite Research',
       'Squarewave Solutions, Ltd.', 'Evergreen Center'], dtype=object)

- <b>`Mark NAN value as "missing" in emp_title column.`<b>

In [284]:
lend["emp_title"].fillna(value = 'missing',inplace = True)

<b> `"emp_length" column` <b>

In [285]:
print("No of missing values in emp_length:",lend["emp_length"].isna().sum())
print("----------------------------------------------")
print(lend["emp_length"].unique())
print("----------------------------------------------")
print(lend["emp_title"].value_counts())

No of missing values in emp_length: 1075
----------------------------------------------
['10+ years' '< 1 year' '1 year' '3 years' '8 years' '9 years' '4 years'
 '5 years' '6 years' '2 years' '7 years' nan]
----------------------------------------------
missing                           2459
US Army                            134
Bank of America                    109
IBM                                 66
AT&T                                59
                                  ...
bren-tronics                         1
McLane                               1
Santa Fe College                     1
Clemens Bruns Schaub Architect       1
Bechtel                              1
Name: emp_title, Length: 28821, dtype: int64

<b> `Dropping rows where  emp_length is NaN.` <br>
    `It is employee years of work.`<br>
`Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. `

In [286]:
lend = lend[~lend["emp_length"].isna()]

<b> `"desc" column` <b>

In [287]:
print("Missing values in \"desc\" :",lend["desc"].isna().sum())
print("------------------------------------------------------------")
print(lend["desc"][1])
print("------------------------------------------------------------")
print(lend["title"][1])

Missing values in "desc" : 12495
------------------------------------------------------------
  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>
------------------------------------------------------------
bike

- `"desc" is synonimous to "title" column.`
- `Hence we can drop this columns and keep "title" column.`

In [288]:
lend.drop(columns=['desc'],inplace=True)

In [289]:
lend["title"].head(10)

0                                 Computer
1                                     bike
2                     real estate business
3                                 personel
4                                 Personal
5    My wedding loan I promise to pay back
6                                     Loan
7                          Car Downpayment
8     Expand Business & Buy Debt Portfolio
9              Building my credit history.
Name: title, dtype: object

- <b>`Mark NAN value as "missing" in title column.`<b>

In [290]:
print(lend["title"].unique())
lend["title"].fillna(value = "missing",inplace=True)

['Computer' 'bike' 'real estate business' ... 'Retiring credit card debt'
 'MBA Loan Consolidation' 'JAL Loan']

In [291]:
lend["revol_util"].head(10)
lend["revol_util"].isna().sum()

47

In [292]:
lend = lend[~lend["revol_util"].isna()]

In [293]:
lend=lend[~lend["last_pymnt_d"].isna()]

In [294]:
lend["last_credit_pull_d"].isna().sum()
# lend["last_credit_pull_d"].head(10)

2

In [295]:
lend=lend[~lend["last_credit_pull_d"].isna()]

In [296]:
lend["collections_12_mths_ex_med"].unique()

array([ 0., nan])

In [297]:
lend["chargeoff_within_12_mths"].unique()

array([ 0., nan])

In [298]:
lend["tax_liens"].unique()

array([ 0., nan])

In [300]:
print(lend["pub_rec_bankruptcies"].unique())
print("----------------------")
print(lend["pub_rec_bankruptcies"].value_counts())

[ 0.  1.  2. nan]
----------------------
0.0    36272
1.0     1556
2.0        7
Name: pub_rec_bankruptcies, dtype: int64

##  <span style='background :cyan' > Findings:- </span>
- `Drop below columns as those have either value '0' or 'NaN' and will be insignificant to our analysis.`<br>
   - collections_12_mths_ex_med <br>
   -  chargeoff_within_12_mths <br>
   -  pub_rec_bankruptcies <br>
   -  tax_liens

In [301]:
list_cols = ['collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'pub_rec_bankruptcies', 'tax_liens']
lend.drop(list_cols,axis=1,inplace=True)

In [302]:
lend.isna().sum()

id                         0
member_id                  0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
pymnt_plan                 0
url                        0
purpose                    0
title                      0
zip_code                   0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
initial_list_status        0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_d               0
last_pymnt_amnt            0
last_credit_pull_d         0
policy_code                0
application_type           0
acc_now_delinq             0
delinq_amnt                0
dtype: int64

In [303]:
lend.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38531 entries, 0 to 39716
Data columns (total 49 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       38531 non-null  int64
 1   member_id                38531 non-null  int64
 2   loan_amnt                38531 non-null  int64
 3   funded_amnt              38531 non-null  int64
 4   funded_amnt_inv          38531 non-null  float64
 5   term                     38531 non-null  object
 6   int_rate                 38531 non-null  object
 7   installment              38531 non-null  float64
 8   grade                    38531 non-null  object
 9   sub_grade                38531 non-null  object
 10  emp_title                38531 non-null  object
 11  emp_length               38531 non-null  object
 12  home_ownership           38531 non-null  object
 13  annual_inc               38531 non-null  float64
 14  verification_status      38531 non-null  object
 15  issue_d                  38531 non-null  object
 16  loan_status              38531 non-null  object
 17  pymnt_plan               38531 non-null  object
 18  url                      38531 non-null  object
 19  purpose                  38531 non-null  object
 20  title                    38531 non-null  object
 21  zip_code                 38531 non-null  object
 22  addr_state               38531 non-null  object
 23  dti                      38531 non-null  float64
 24  delinq_2yrs              38531 non-null  int64
 25  earliest_cr_line         38531 non-null  object
 26  inq_last_6mths           38531 non-null  int64
 27  open_acc                 38531 non-null  int64
 28  pub_rec                  38531 non-null  int64
 29  revol_bal                38531 non-null  int64
 30  revol_util               38531 non-null  object
 31  total_acc                38531 non-null  int64
 32  initial_list_status      38531 non-null  object
 33  out_prncp                38531 non-null  float64
 34  out_prncp_inv            38531 non-null  float64
 35  total_pymnt              38531 non-null  float64
 36  total_pymnt_inv          38531 non-null  float64
 37  total_rec_prncp          38531 non-null  float64
 38  total_rec_int            38531 non-null  float64
 39  total_rec_late_fee       38531 non-null  float64
 40  recoveries               38531 non-null  float64
 41  collection_recovery_fee  38531 non-null  float64
 42  last_pymnt_d             38531 non-null  object
 43  last_pymnt_amnt          38531 non-null  float64
 44  last_credit_pull_d       38531 non-null  object
 45  policy_code              38531 non-null  int64
 46  application_type         38531 non-null  object
 47  acc_now_delinq           38531 non-null  int64
 48  delinq_amnt              38531 non-null  int64
dtypes: float64(14), int64(13), object(22)
memory usage: 14.7+ MB

In [265]:
# Check row wise null values
# (lend.isna().sum(axis = 1)>4).sum()
#We do not have much rows having so mnay null values

0

In [266]:
lend["member_id"].unique()

array([1296599, 1314167, 1313524, ...,   90390,   89243,   86999],
      dtype=int64)

In [267]:
lend["zip_code"].unique()

array(['860xx', '309xx', '606xx', '917xx', '972xx', '852xx', '280xx',
       '900xx', '958xx', '774xx', '853xx', '913xx', '245xx', '951xx',
       '641xx', '921xx', '067xx', '890xx', '770xx', '335xx', '799xx',
       '605xx', '150xx', '326xx', '564xx', '141xx', '080xx', '330xx',
       '974xx', '934xx', '405xx', '946xx', '445xx', '850xx', '604xx',
       '292xx', '088xx', '180xx', '029xx', '700xx', '010xx', '441xx',
       '104xx', '061xx', '616xx', '947xx', '914xx', '765xx', '980xx',
       '017xx', '752xx', '787xx', '077xx', '540xx', '225xx', '440xx',
       '437xx', '559xx', '912xx', '325xx', '300xx', '923xx', '352xx',
       '013xx', '146xx', '074xx', '786xx', '937xx', '331xx', '115xx',
       '191xx', '114xx', '908xx', '902xx', '992xx', '750xx', '950xx',
       '329xx', '226xx', '614xx', '802xx', '672xx', '083xx', '100xx',
       '926xx', '931xx', '712xx', '060xx', '707xx', '342xx', '895xx',
       '430xx', '919xx', '996xx', '891xx', '935xx', '801xx', '928xx',
       '233xx', '927xx', '970xx', '211xx', '303xx', '070xx', '194xx',
       '263xx', '403xx', '301xx', '553xx', '993xx', '312xx', '432xx',
       '602xx', '216xx', '151xx', '971xx', '305xx', '334xx', '050xx',
       '129xx', '925xx', '483xx', '760xx', '200xx', '085xx', '981xx',
       '103xx', '601xx', '117xx', '063xx', '920xx', '543xx', '775xx',
       '570xx', '038xx', '221xx', '985xx', '113xx', '275xx', '236xx',
       '148xx', '028xx', '450xx', '532xx', '729xx', '321xx', '959xx',
       '941xx', '955xx', '217xx', '880xx', '660xx', '062xx', '193xx',
       '761xx', '857xx', '306xx', '271xx', '142xx', '956xx', '983xx',
       '945xx', '109xx', '112xx', '187xx', '630xx', '435xx', '488xx',
       '287xx', '705xx', '592xx', '318xx', '549xx', '212xx', '347xx',
       '274xx', '265xx', '785xx', '027xx', '089xx', '813xx', '069xx',
       '260xx', '201xx', '349xx', '322xx', '075xx', '124xx', '940xx',
       '967xx', '111xx', '773xx', '997xx', '076xx', '538xx', '021xx',
       '304xx', '234xx', '308xx', '809xx', '071xx', '296xx', '240xx',
       '830xx', '011xx', '622xx', '207xx', '140xx', '336xx', '619xx',
       '208xx', '618xx', '014xx', '644xx', '283xx', '276xx', '631xx',
       '243xx', '960xx', '181xx', '922xx', '224xx', '975xx', '105xx',
       '986xx', '218xx', '652xx', '782xx', '410xx', '480xx', '719xx',
       '982xx', '065xx', '081xx', '954xx', '346xx', '442xx', '025xx',
       '122xx', '173xx', '282xx', '120xx', '082xx', '766xx', '229xx',
       '840xx', '744xx', '933xx', '451xx', '907xx', '728xx', '159xx',
       '333xx', '293xx', '701xx', '984xx', '811xx', '597xx', '957xx',
       '165xx', '720xx', '119xx', '359xx', '195xx', '084xx', '969xx',
       '924xx', '531xx', '716xx', '337xx', '841xx', '323xx', '740xx',
       '179xx', '285xx', '551xx', '658xx', '944xx', '232xx', '905xx',
       '600xx', '327xx', '711xx', '906xx', '444xx', '856xx', '777xx',
       '072xx', '554xx', '145xx', '537xx', '152xx', '847xx', '295xx',
       '829xx', '320xx', '131xx', '939xx', '572xx', '281xx', '064xx',
       '550xx', '078xx', '452xx', '778xx', '313xx', '851xx', '784xx',
       '804xx', '571xx', '210xx', '988xx', '400xx', '995xx', '805xx',
       '023xx', '158xx', '657xx', '016xx', '019xx', '290xx', '190xx',
       '366xx', '066xx', '991xx', '968xx', '721xx', '439xx', '640xx',
       '546xx', '024xx', '751xx', '431xx', '741xx', '904xx', '156xx',
       '316xx', '299xx', '087xx', '739xx', '949xx', '261xx', '073xx',
       '222xx', '244xx', '617xx', '018xx', '286xx', '759xx', '952xx',
       '930xx', '911xx', '220xx', '731xx', '730xx', '262xx', '160xx',
       '031xx', '054xx', '223xx', '272xx', '882xx', '557xx', '797xx',
       '725xx', '130xx', '030xx', '206xx', '324xx', '170xx', '291xx',
       '161xx', '647xx', '916xx', '665xx', '209xx', '915xx', '110xx',
       '086xx', '484xx', '844xx', '020xx', '354xx', '448xx', '978xx',
       '757xx', '363xx', '953xx', '577xx', '315xx', '664xx', '186xx',
       '182xx', '574xx', '800xx', '197xx', '137xx', '314xx', '755xx',
       '973xx', '603xx', '481xx', '780xx', '894xx', '341xx', '178xx',
       '068xx', '565xx', '611xx', '288xx', '443xx', '662xx', '874xx',
       '560xx', '535xx', '756xx', '168xx', '827xx', '541xx', '615xx',
       '989xx', '037xx', '339xx', '338xx', '367xx', '273xx', '052xx',
       '623xx', '416xx', '648xx', '918xx', '436xx', '898xx', '674xx',
       '496xx', '294xx', '762xx', '128xx', '903xx', '328xx', '932xx',
       '650xx', '246xx', '633xx', '666xx', '228xx', '015xx', '302xx',
       '573xx', '118xx', '998xx', '767xx', '490xx', '350xx', '254xx',
       '596xx', '637xx', '032xx', '763xx', '494xx', '402xx', '545xx',
       '184xx', '239xx', '977xx', '297xx', '284xx', '144xx', '748xx',
       '310xx', '147xx', '153xx', '544xx', '948xx', '576xx', '976xx',
       '107xx', '846xx', '344xx', '351xx', '754xx', '910xx', '656xx',
       '357xx', '791xx', '493xx', '855xx', '278xx', '125xx', '566xx',
       '175xx', '530xx', '171xx', '703xx', '620xx', '438xx', '626xx',
       '307xx', '636xx', '319xx', '116xx', '645xx', '708xx', '816xx',
       '625xx', '133xx', '612xx', '961xx', '238xx', '166xx', '361xx',
       '231xx', '241xx', '826xx', '783xx', '793xx', '646xx', '188xx',
       '108xx', '653xx', '871xx', '057xx', '796xx', '990xx', '219xx',
       '724xx', '456xx', '214xx', '237xx', '737xx', '121xx', '199xx',
       '548xx', '453xx', '704xx', '368xx', '828xx', '598xx', '136xx',
       '610xx', '722xx', '743xx', '810xx', '706xx', '235xx', '139xx',
       '613xx', '454xx', '317xx', '746xx', '446xx', '486xx', '863xx',
       '033xx', '279xx', '407xx', '794xx', '457xx', '189xx', '196xx',
       '539xx', '424xx', '492xx', '482xx', '667xx', '845xx', '401xx',
       '362xx', '627xx', '717xx', '356xx', '607xx', '198xx', '936xx',
       '713xx', '227xx', '883xx', '563xx', '893xx', '806xx', '360xx',
       '172xx', '422xx', '768xx', '034xx', '012xx', '594xx', '215xx',
       '628xx', '749xx', '101xx', '814xx', '255xx', '745xx', '495xx',
       '183xx', '106xx', '663xx', '943xx', '094xx', '177xx', '365xx',
       '132xx', '897xx', '776xx', '803xx', '843xx', '458xx', '864xx',
       '421xx', '253xx', '795xx', '727xx', '528xx', '270xx', '277xx',
       '735xx', '447xx', '079xx', '358xx', '815xx', '250xx', '230xx',
       '790xx', '884xx', '242xx', '534xx', '404xx', '397xx', '870xx',
       '434xx', '671xx', '591xx', '675xx', '053xx', '859xx', '126xx',
       '102xx', '256xx', '489xx', '258xx', '423xx', '497xx', '788xx',
       '127xx', '176xx', '380xx', '058xx', '635xx', '498xx', '599xx',
       '822xx', '638xx', '723xx', '449xx', '420xx', '726xx', '185xx',
       '963xx', '298xx', '257xx', '575xx', '624xx', '134xx', '877xx',
       '499xx', '781xx', '718xx', '670xx', '138xx', '026xx', '678xx',
       '398xx', '411xx', '149xx', '247xx', '881xx', '875xx', '651xx',
       '364xx', '203xx', '427xx', '629xx', '355xx', '174xx', '547xx',
       '567xx', '558xx', '135xx', '157xx', '999xx', '808xx', '634xx',
       '455xx', '143xx', '154xx', '562xx', '779xx', '561xx', '734xx',
       '655xx', '812xx', '268xx', '051xx', '865xx', '406xx', '661xx',
       '758xx', '676xx', '491xx', '267xx', '609xx', '595xx', '259xx',
       '163xx', '264xx', '035xx', '409xx', '376xx', '471xx', '820xx',
       '375xx', '747xx', '123xx', '714xx', '590xx', '639xx', '412xx',
       '425xx', '022xx', '608xx', '369xx', '164xx', '433xx', '825xx',
       '266xx', '096xx', '251xx', '593xx', '487xx', '169xx', '413xx',
       '155xx', '764xx', '710xx', '408xx', '668xx', '056xx', '669xx',
       '167xx', '542xx', '679xx', '462xx', '824xx', '249xx', '798xx',
       '370xx', '485xx', '654xx', '289xx', '807xx', '252xx', '556xx',
       '353xx', '677xx', '769xx', '090xx', '371xx', '831xx', '527xx',
       '736xx', '007xx', '332xx', '468xx', '461xx', '093xx', '248xx',
       '463xx', '391xx', '381xx', '415xx', '378xx', '792xx', '673xx',
       '789xx', '414xx', '396xx', '836xx', '044xx', '392xx', '772xx',
       '374xx', '823xx', '395xx', '394xx', '965xx', '838xx', '390xx',
       '388xx', '386xx', '040xx', '385xx', '379xx', '681xx', '837xx',
       '373xx', '753xx', '834xx', '383xx', '384xx', '372xx', '833xx',
       '522xx', '523xx', '474xx', '465xx', '689xx', '473xx', '041xx',
       '685xx', '479xx', '469xx'], dtype=object)

In [171]:
lend["addr_state"].value_counts()

CA    7071
NY    3803
FL    2862
TX    2715
NJ    1842
IL    1522
PA    1511
VA    1403
GA    1396
MA    1339
OH    1217
MD    1044
AZ     876
WA     839
CO     791
NC     785
CT     750
MI     719
MO     683
MN     612
NV     496
SC     472
WI     458
OR     450
AL     450
LA     436
KY     324
OK     299
KS     270
UT     258
AR     244
DC     212
RI     198
NM     189
WV     176
HI     173
NH     171
DE     113
MT      85
WY      83
AK      80
SD      63
VT      54
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

In [172]:
lend.head(20)

         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade                            emp_title emp_length home_ownership  annual_inc verification_status issue_d  loan_status pymnt_plan                                                url             purpose                                  title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt last_credit_pull_d  policy_code application_type  acc_now_delinq  delinq_amnt
0   1077501    1296599       5000         5000           4975.0   36 months   10.65%       162.87     B        B2                              missing  10+ years           RENT    24000.00            Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...         credit_card                               Computer    860xx         AZ  27.65            0           Jan-85               1         3        0      13648     83.70%          9                   f       0.00           0.00   5863.155187          5833.84          5000.00         863.16                0.00        0.00                   0.0000       Jan-15           171.62             May-16            1       INDIVIDUAL               0            0
1   1077430    1314167       2500         2500           2500.0   60 months   15.27%        59.83     C        C4                                Ryder   < 1 year           RENT    30000.00     Source Verified  Dec-11  Charged Off          n  https://lendingclub.com/browse/loanDetail.acti...                 car                                   bike    309xx         GA   1.00            0           Apr-99               5         3        0       1687      9.40%          4                   f       0.00           0.00   1008.710000          1008.71           456.46         435.17                0.00      117.08                   1.1100       Apr-13           119.66             Sep-13            1       INDIVIDUAL               0            0
2   1077175    1313524       2400         2400           2400.0   36 months   15.96%        84.33     C        C5                              missing  10+ years           RENT    12252.00        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...      small_business                   real estate business    606xx         IL   8.72            0           Nov-01               2         2        0       2956     98.50%         10                   f       0.00           0.00   3005.666844          3005.67          2400.00         605.67                0.00        0.00                   0.0000       Jun-14           649.91             May-16            1       INDIVIDUAL               0            0
3   1076863    1277178      10000        10000          10000.0   36 months   13.49%       339.31     C        C1                  AIR RESOURCES BOARD  10+ years           RENT    49200.00     Source Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...               other                               personel    917xx         CA  20.00            0           Feb-96               1        10        0       5598        21%         37                   f       0.00           0.00  12231.890000         12231.89         10000.00        2214.92               16.97        0.00                   0.0000       Jan-15           357.48             Apr-16            1       INDIVIDUAL               0            0
4   1075358    1311748       3000         3000           3000.0   60 months   12.69%        67.79     B        B5             University Medical Group     1 year           RENT    80000.00     Source Verified  Dec-11      Current          n  https://lendingclub.com/browse/loanDetail.acti...               other                               Personal    972xx         OR  17.94            0           Jan-96               0        15        0      27783     53.90%         38                   f     524.06         524.06   3513.330000          3513.33          2475.94        1037.39                0.00        0.00                   0.0000       May-16            67.79             May-16            1       INDIVIDUAL               0            0
5   1075269    1311441       5000         5000           5000.0   36 months    7.90%       156.46     A        A4                 Veolia Transportaton    3 years           RENT    36000.00     Source Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...             wedding  My wedding loan I promise to pay back    852xx         AZ  11.20            0           Nov-04               3         9        0       7963     28.30%         12                   f       0.00           0.00   5632.210000          5632.21          5000.00         632.21                0.00        0.00                   0.0000       Jan-15           161.03             Jan-16            1       INDIVIDUAL               0            0
6   1069639    1304742       7000         7000           7000.0   60 months   15.96%       170.08     C        C5            Southern Star Photography    8 years           RENT    47004.00        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  debt_consolidation                                   Loan    280xx         NC  23.51            0           Jul-05               1         7        0      17726     85.60%         11                   f       0.00           0.00  10110.840000         10110.84          6985.61        3125.23                0.00        0.00                   0.0000       May-16          1313.76             May-16            1       INDIVIDUAL               0            0
7   1072053    1288686       3000         3000           3000.0   36 months   18.64%       109.43     E        E1                      MKC Accounting     9 years           RENT    48000.00     Source Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...                 car                        Car Downpayment    900xx         CA   5.35            0           Jan-07               2         4        0       8221     87.50%          4                   f       0.00           0.00   3939.135294          3939.14          3000.00         939.14                0.00        0.00                   0.0000       Jan-15           111.34             Dec-14            1       INDIVIDUAL               0            0
8   1071795    1306957       5600         5600           5600.0   60 months   21.28%       152.39     F        F2                              missing    4 years            OWN    40000.00     Source Verified  Dec-11  Charged Off          n  https://lendingclub.com/browse/loanDetail.acti...      small_business   Expand Business & Buy Debt Portfolio    958xx         CA   5.55            0           Apr-04               2        11        0       5210     32.60%         13                   f       0.00           0.00    646.020000           646.02           162.02         294.94                0.00      189.06                   2.0900       Apr-12           152.39             Aug-12            1       INDIVIDUAL               0            0
9   1071570    1306721       5375         5375           5350.0   60 months   12.69%       121.45     B        B5                            Starbucks   < 1 year           RENT    15000.00            Verified  Dec-11  Charged Off          n  https://lendingclub.com/browse/loanDetail.acti...               other            Building my credit history.    774xx         TX  18.08            0           Sep-04               0         2        0       9279     36.50%          3                   f       0.00           0.00   1476.190000          1469.34           673.48         533.42                0.00      269.29                   2.5200       Nov-12           121.45             Mar-13            1       INDIVIDUAL               0            0
10  1070078    1305201       6500         6500           6500.0   60 months   14.65%       153.45     C        C3                Southwest Rural metro    5 years            OWN    72000.00        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  debt_consolidation             High intrest Consolidation    853xx         AZ  16.12            0           Jan-98               2        14        0       4032     20.60%         23                   f       0.00           0.00   7678.017673          7678.02          6500.00        1178.02                0.00        0.00                   0.0000       Jun-13          1655.54             Dec-15            1       INDIVIDUAL               0            0
11  1069908    1305008      12000        12000          12000.0   36 months   12.69%       402.54     B        B5                                 UCLA  10+ years            OWN    75000.00     Source Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  debt_consolidation                          Consolidation    913xx         CA  10.78            0           Oct-89               0        12        0      23336     67.10%         34                   f       0.00           0.00  13947.989160         13947.99         12000.00        1947.99                0.00        0.00                   0.0000       Sep-13          6315.30             Aug-13            1       INDIVIDUAL               0            0
12  1064687    1298717       9000         9000           9000.0   36 months   13.49%       305.38     C        C1  Va. Dept of Conservation/Recreation   < 1 year           RENT    30000.00     Source Verified  Dec-11  Charged Off          n  https://lendingclub.com/browse/loanDetail.acti...  debt_consolidation                                freedom    245xx         VA  10.08            0           Apr-04               1         4        0      10452     91.70%          9                   f       0.00           0.00   2270.700000          2270.70          1256.14         570.26                0.00      444.30                   4.1600       Jul-12           305.38             Nov-12            1       INDIVIDUAL               0            0
13  1069866    1304956       3000         3000           3000.0   36 months    9.91%        96.68     B        B1                               Target    3 years           RENT    15000.00     Source Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...         credit_card                          citicard fund    606xx         IL  12.56            0           Jul-03               2        11        0       7323     43.10%         11                   f       0.00           0.00   3480.269999          3480.27          3000.00         480.27                0.00        0.00                   0.0000       Jan-15           102.43             May-16            1       INDIVIDUAL               0            0
14  1069057    1303503      10000        10000          10000.0   36 months   10.65%       325.74     B        B2                                SFMTA    3 years           RENT   100000.00     Source Verified  Dec-11  Charged Off          n  https://lendingclub.com/browse/loanDetail.acti...               other                             Other Loan    951xx         CA   7.06            0           May-91               2        14        0      11997     55.50%         29                   f       0.00           0.00   7471.990000          7471.99          5433.47        1393.42                0.00      645.10                   6.3145       Oct-13           325.74             Mar-14            1       INDIVIDUAL               0            0
15  1069759    1304871       1000         1000           1000.0   36 months   16.29%        35.31     D        D1             Internal revenue Service   < 1 year           RENT    28000.00        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  debt_consolidation                Debt Consolidation Loan    641xx         MO  20.31            0           Sep-07               1        11        0       6524     81.50%         23                   f       0.00           0.00   1270.716942          1270.72          1000.00         270.72                0.00        0.00                   0.0000       Jan-15            36.32             May-16            1       INDIVIDUAL               0            0
16  1065775    1299699      10000        10000          10000.0   36 months   15.27%       347.98     C        C4                    Chin's Restaurant    4 years           RENT    42000.00        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...    home_improvement                                   Home    921xx         CA  18.60            0           Oct-98               2        14        0      24043     70.20%         28                   f       0.00           0.00  12527.150000         12527.15         10000.00        2527.15                0.00        0.00                   0.0000       Jan-15           370.46             Apr-15            1       INDIVIDUAL               0            0
17  1069971    1304884       3600         3600           3600.0   36 months    6.03%       109.57     A        A1                             Duracell  10+ years       MORTGAGE   110000.00        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...      major_purchase                                Holiday    067xx         CT  10.52            0           Aug-93               0        20        0      22836        16%         42                   f       0.00           0.00   3785.271965          3785.27          3600.00         185.27                0.00        0.00                   0.0000       May-13           583.45             May-14            1       INDIVIDUAL               0            0
18  1062474    1294539       6000         6000           6000.0   36 months   11.71%       198.46     B        B3                Connection Inspection     1 year       MORTGAGE    84000.00            Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...             medical                                Medical    890xx         UT  18.44            2           Oct-03               0         4        0          0     37.73%         14                   f       0.00           0.00   7167.072893          7167.07          6000.00        1152.07               15.00        0.00                   0.0000       Feb-15            16.98             Jul-15            1       INDIVIDUAL               0            0
19  1069742    1304855       9200         9200           9200.0   36 months    6.03%       280.01     A        A1         Network Interpreting Service    6 years           RENT    77385.19        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  debt_consolidation    lowerratemeanseasiertogetoutofdebt!    921xx         CA   9.86            0           Jan-01               0         8        0       7314     23.10%         28                   f       0.00           0.00   9460.000848          9460.00          9200.00         260.00                0.00        0.00                   0.0000       Jul-12          8061.10             Feb-16            1       INDIVIDUAL               0            0

In [173]:
lend["pymnt_plan"].value_counts()

n    39598
Name: pymnt_plan, dtype: int64

In [191]:
lend["url"].unique()

# ID and URL is synonimous

array(['https://lendingclub.com/browse/loanDetail.action?loan_id=1077501',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=1077430',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=1077175',
       ...,
       'https://lendingclub.com/browse/loanDetail.action?loan_id=90395',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=90376',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=87023'],
      dtype=object)

In [181]:
# lend[lend["title"]=="missing"][""]
lend["delinq_2yrs"].unique()

array([ 0,  2,  3,  1,  4,  6,  5,  8,  7,  9, 11], dtype=int64)

In [268]:
#Number of derogatory public records ->pub_rec

lend["pub_rec"].value_counts()

0    36547
1     1926
2       49
3        7
4        2
Name: pub_rec, dtype: int64

In [184]:
lend["initial_list_status"].value_counts()

f    39598
Name: initial_list_status, dtype: int64

In [185]:
lend["policy_code"].unique()

array([1], dtype=int64)

In [186]:
lend["policy_code"].value_counts()

1    39598
Name: policy_code, dtype: int64

In [188]:
print(lend["application_type"].unique())
lend["application_type"].value_counts()

['INDIVIDUAL']

INDIVIDUAL    39598
Name: application_type, dtype: int64

In [189]:
lend["acc_now_delinq"].unique()

array([0], dtype=int64)

In [190]:
lend["delinq_amnt"].unique()

array([0], dtype=int64)

In [304]:
lend["funded_amnt"].unique()

array([ 5000,  2500,  2400, ...,   800, 13875, 22350], dtype=int64)

In [305]:
lend["funded_amnt_inv"].unique()

array([4975., 2500., 2400., ...,  200.,   75.,  150.])

In [308]:
lend[["funded_amnt_inv","funded_amnt"]].head(20)

    funded_amnt_inv  funded_amnt
0            4975.0         5000
1            2500.0         2500
2            2400.0         2400
3           10000.0        10000
4            3000.0         3000
5            5000.0         5000
6            7000.0         7000
7            3000.0         3000
8            5600.0         5600
9            5350.0         5375
10           6500.0         6500
11          12000.0        12000
12           9000.0         9000
13           3000.0         3000
14          10000.0        10000
15           1000.0         1000
16          10000.0        10000
17           3600.0         3600
18           6000.0         6000
19           9200.0         9200